html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 2rem;
  text-align: left;
  box-sizing: border-box;
}

/* Style for buttons */
.button,
#problem-select {
  padding: 8px;
  margin: 3px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-size: 10px; /* Minimum font size */
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0; /* Allow elements to shrink below their content width */
}

/* Set minimum and maximum width for dropdown */
#problem-select {
  min-width: 70px; /* Ensure it can fit the text */
  max-width: 100px; /* Adjust this value as needed */
}

/* Hover effect for buttons */
.button:hover,
#problem-select:hover {
  background-color: #f0f0f0;
}

#login-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#login-status {
  margin-left: 10px;
  font-size: 16px;
  color: #333;
  display: inline-block;
  vertical-align: middle;
}

#problem-select-container {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Left align items */
  margin-bottom: 10px;
  width: 100%;
  flex-grow: 0; /* Prevent container from growing too much */
}

#problem-select-container label,
#problem-select-container button,
#problem-select-container select {
  flex-grow: 0;
  flex-shrink: 1;
  margin: 3px;
  min-width: 0; /* Allow elements to shrink below their content width */
}

#problem-select-container label {
  flex-grow: 0;
  margin-right: 10px;
  font-size: 16px;
}

#select-problem-text {
  margin-left: 10px;
  font-size: 16px;
  color: #333;
  display: inline-block;
  vertical-align: middle;
}

/* Main header */
#main-header {
  flex: 0 1 auto;
  text-align: left;
}

#puzzle-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1 1 auto;
  overflow: auto;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

#ChessBoardContainer {
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 400px;
  flex: 1 1 auto;
  box-sizing: border-box;
}

#FEN-container {
  display: flex;
  align-items: center;
}

#FEN-Label,
#FEN-Text,
#FEN-Copy-Button {
  margin-right: 5px;
}

@media (max-width: 400px), (max-height: 400px) {
  #ChessBoardContainer {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
  }
}

/* Additional media queries for fine-tuning */
@media (max-width: 600px) {
  #problem-select,
  #go-button,
  .navigation-button {
    font-size: 2.5vw; /* Adjust this value as needed */
  }
}

@media (max-width: 400px) {
  #problem-select,
  #go-button,
  .navigation-button {
    font-size: 2vw; /* Adjust this value as needed */
  }
}
